.form_group {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 10px 20px;
  position: relative;
  min-height: 300px;
  min-width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(255 255 255 / 20%);
  background: #1e1d22;

  &.isLight{




  }

  header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 0.2fr;
  }

  footer {
    margin-block-start: 1rem;
  }

  .col {
    flex: unset;

    &.header-cluster{
      max-width: 95%;
      width: 100%;
      overflow: auto;
    }

  }

  .MuiDivider-light {
    border-color: rgba(255, 255, 255, 0.3);
  }

  h3 {
    font-size: 1.5rem ;
    font-weight: 700;
    color: #fff;
  }

  p {
    color: rgba(255, 255, 255, 0.7);
  }

  .actions {
    button,
    span {
      min-width: 75px;
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      box-shadow: none;
      color: #000;
      background: #00bcd4;
    }

    button[disabled] {
      background: #c2c2c2;
      cursor: not-allowed;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      border: 1px solid #ffffff;

      &.UNTESTED {
        background: #555555;
      }

      &.YELLOW {
        background: #e59500;
      }

      &.RED,
      &.ERROR {
        background: #d33f49;
      }

      &.GREEN {
        background: #79b473;
      }
    }
  }

  .MuiListItem-root {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 9px;

    div {
      .label {
        font-weight: 600;
        color: #fff;
        border: 1px solid wheat;
        border-radius: 6px;
        background: transparent;
        font-size: 14px;
      }
    }
  }

  .css-b2ba3d-button,
  .MuiLink-root {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background: #00bcd4;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: revert;
    max-height: 40px;
    min-width: 70px;
  }
  .menu-item {
    color: white !important;
    background-color: #d33f49 !important;
  }

  .MuiStack-root {
    display: flex;
    justify-content: flex-end;
  }

  .MuiInputBase-root {
    max-width: 50%;
  }
  .MuiSelect-select{
    padding: 10px 14px !important;
  }

  #demo-simple-select-label,
  .MuiSelect-icon,
  #demo-simple-select {
    color: #00bcd4 !important;
  }
  .MuiInputBase-formControl{
    margin-block-start: 21px;
  }
  .css-qiwgdb{
    //padding: 10px 14px !important;
  }
  .MuiInputLabel-formControl{
    transform: translate(10px,30px) !important;
  }
  .MuiInputLabel-shrink{
    transform: translate(13px, 13px) scale(0.75) !important;
  }
  .monitor-type{
    font-size: 14px;
    color: #00bcd4 ;

  }
  .MuiFormControl-fullWidth{
    position: relative;
    top: -21px;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #00bcd4;
  }
}

.MuiPaper-root {
  background-color: #000000 !important;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;

  .MuiList-root{
    color: white ;
    background-color: #222e46 ;
  }
  .MuiDialogTitle-root {
    color: #ffffff !important;
  }

  .MuiDialogActions-root {
    button {
      background-color: #00bcd4;
      color: #000000 !important;
    }

    button.btn-error {
      background-color: #d33f49 !important;
      color: #ffffff !important;
    }
  }
}

.form_group{
  &.isLight{
    border: 1px solid #222e46;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);

    h3,p,.label{
      color: #222e46 !important;
    }
    .label{
      border-color: #222e46 !important;
    }
    .MuiDivider-root{
      border-color: #222e46 !important;
    }
    button{
      min-height: 40px;
      border-radius: 7px;
      background-color: #00bcd4;
    }
    .MuiList-root{
      background: #ffffff !important;
    }

  }








}
