/tmp/
/not-used/
/dbeast-monitoring-for-elastic-stack-app-onprem/.config/webpack/
/node_modules
/.qodo
/.config
/.github

/dbeast-monitoring-for-elastic-stack-app-container/.config/webpack/
/docker/esdata/
/docker/logstash-config/
/dist
/.claude
/.idea
