.connectionsAndConfig {
  display: flex;
  justify-content: center;

  .title {
    font-size: 18px;
    text-align: center;
    margin-block: 1rem;
  }

  .source_panel {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    max-width: 350px !important;
    padding: 10px 20px;
    position: relative;
    min-height: 300px;
    justify-content: space-between;
    border-radius: 4px 0 0 4px;
    background: #1e1d22;
    border-right: 1px solid #6b6a6a;

    section {
      min-height: calc(100% - 62px);
      display: grid;
    }

    div {
      width: 100%;

      .auth_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        margin-block-end: 7px;
      }
    }

    label {
      color: #ffffff;
    }

    .host_wrapper {
      margin-block-end: 1.5rem;
      position: relative;

      .invalid {
        position: absolute;
        color: #d33f49;
        top: 100%;
        display: flex;
      }
    }

    input {
      color: #ffffff;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
    }

    .css-1vv4lmi::before {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
    }

    .css-1vv4lmi::after {
      border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
    }

    .css-vubbuv {
      fill: rgba(255, 255, 255, 0.5);
    }

    .css-mqt2s5.Mui-disabled {
      color: #ffffff;
      opacity: 0.3;
    }

    .css-mnn31.Mui-disabled {
      background: transparent;
    }

    .upload_file_container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .ssl_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .upload_file {
        input {
          display: none;
        }

        span {
          min-width: 70px;
          padding: 5px 10px;
          display: inline-block;
          background: #00bcd4;
          color: black;
          cursor: pointer;
          border-radius: 8px;
        }

        input[disabled] + span {
          background: #c2c2c2;
          cursor: not-allowed;
        }
      }
    }
  }

  .config {
    padding: 10px 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0 !important;

    .title {
      margin-block: 1rem;
      font-size: 18px;
      text-align: center;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

      .hide{
        display: none;
      }
    }

    .MuiDivider-root {
      margin: 7px 0 !important;
      flex-shrink: 0 !important;
      border-width: 1px 3px thin !important;
      border-style: solid !important;
      border-color: #fff !important;
      opacity: 0.5 !important;
    }
  }

  .actions {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-block-start: 10px;
    align-self: flex-end;

    button,
    span {
      min-width: 75px;
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      box-shadow: none;
      color: #000;
      background: #00bcd4;
    }

    button[disabled] {
      background: #c2c2c2;
      cursor: not-allowed;
    }
  }

  .spinner_overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;

    .MuiCircularProgress-root {
      position: absolute;
      top: 35%;
      left: 45%;
      transform: translate(-35%, -45%);

      .MuiCircularProgress-svg {
        .css-14891ef {
          stroke: #00bcd4 !important;
        }
      }
    }
  }

  .Toastify__toast-icon {
    width: 11% !important;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .Toastify__toast {
    width: 55% !important;
    margin: 0 auto !important;
    bottom: -30px !important;
  }

  .Toastify__toast-container--bottom-right {
    bottom: 6em !important;
    right: 1em !important;
  }

  .MuiDivider-root {
    margin: 10px 0 !important;
    flex-shrink: 0 !important;
    border-width: 2px 3px thin !important;
    border-style: solid !important;
    border-color: white !important;
  }

  .status {
    color: #ffffff;
    position: absolute;
    top: -18%;
    left: 80%;

    display: inline-flex;

    .UNTESTED {
      background: #555555;
      padding: 2px 10px;
      font-size: 10px;
      border-radius: 7px;
    }

    .YELLOW {
      background: #e59500;
      padding: 2px 10px;
      font-size: 10px;
      border-radius: 7px;
    }

    .ERROR {
      background: #d33f49;
      padding: 2px 10px;
      font-size: 10px;
      border-radius: 7px;
      color: #fff;
    }

    .GREEN {
      background: #79b473;
      padding: 2px 10px;
      font-size: 10px;
      border-radius: 7px;
    }
  }

  .source_panel.isLight {
    background-color: #fff;
    border: 1px solid #222e46;

    label {
      color: #222e46;
    }

    .css-vubbuv {
      fill: #222e46;
    }

    .status {
      top: 25%;
    }

    .css-mqt2s5.Mui-disabled {
      color: #222e46;
      opacity: 0.3;
    }

    input {
      color: #222e46;
    }
  }
  .config.not-rounded {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #6b6a6a;
  }

  .config,
  .logstash-list {
    max-width: 350px;
    width: 100%;
    border: 1px solid #fff;
    background: #1e1d22;
    min-height: 475px;
    //max-height: auto;
  }
  .logstash-list {
    padding: 10px 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0;

    .cards-wrapper {
      overflow: auto;
      max-height: 500px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 10px;
    }
    .title {
      margin-block: 1rem;
      font-size: 18px;
      text-align: center;
    }

    .logstash-card {
      border: 1px solid #fbfff1;
      border-radius: 5px;
      padding: 7px;
      cursor: pointer;

      .form-group {
        margin-block-end: 0.75rem;
        border-bottom: 1px solid #8c908c;
        padding-block: 0.15rem;

        .logstash-label {
          opacity: 0.6;
        }
        .value {
          font-weight: 600;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
#alert-dialog-title {
  color: #ffffff;
}

.save_btn {
  min-width: 75px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  color: #000 !important;
  background: #00bcd4 !important;
  max-width: fit-content !important;

  &:hover {
    background: #00bcd4 !important;
  }
}

.header-actions {
  padding-inline-start: 1.7rem;
}

.MuiDialogActions-root {
  padding-inline-end: 1.7rem !important;
}

svg.MuiSvgIcon-root[data-testid='CheckBoxOutlineBlankIcon'],
svg.MuiSvgIcon-root[data-testid='CheckBoxIcon'] {
  fill: #ffffff !important;
}

.MuiDialog-paper {
  border: 1px solid #fff !important;
  display: flex !important;
  flex-direction: column !important;
  max-width: 600px !important;
  padding: 10px 20px !important;
  position: relative !important;
  min-height: 300px !important;
  justify-content: space-between !important;
  border-radius: 4px 0 0 4px !important;
  background: #1e1d22 !important;
  width: 30% !important;
}

.panel-container {
  background-color: transparent !important;
}
