<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="example-configuration" packages="">
    <Properties>
        <Property name="baseDir">./logs</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss.SSS}][%-5p][%logger{36}][%t]: %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${baseDir}/dbeast-toolkit.log"
                     filePattern="${baseDir}/dbeast-toolkit-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss.SSS}][%-5p][%logger{36}][%t]: %msg%n"/>
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/dbeast-toolkit-*.log.gz">
                        <IfLastModified age="30d">
                            <IfAny>
                                <IfAccumulatedFileSize exceeds="10 MB"/>
                                <IfAccumulatedFileCount exceeds="10"/>
                            </IfAny>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">>
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>