.MuiPaper-root{
  min-width: 27%;
}

.label,.value{
  color: #fff !important;
}
.label{
  margin-inline-end: 8px;
}
.form-control{
  margin-block-start: 2rem;
}
input {
  color: #ffffff !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
}
.actions {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-block-start: 10px;
  align-self: flex-end;


    button
    {
      min-width: 75px;
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      box-shadow: none;
      color: #000;
      background: #00bcd4;

      &:hover {
        background: #00a6b9;
        color: #000;
      }
    }

    button[disabled] {
      background: #c2c2c2;
      cursor: not-allowed;
    }

}
.close-button{
  background: transparent !important;
}
.fa-spinner{
  color: #fff;

}

