.source_panel {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.MuiDialogContent-root {
  padding: 0 !important;
}

.MuiTextField-root {
  width: 100%;

  input {
    color: #ffffff !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
  }
}
.MuiFormLabel-root {
  color: #ffffff !important;
}

.css-1vv4lmi::before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
}

.css-1vv4lmi::after {
  border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
}

.actions {
  display: flex;
  column-gap: 0.75rem;
  margin-top: 1.5rem;
  justify-content: flex-end;

  .save_btn {
    &:disabled {
      opacity: 0.3;
    }
  }
}
